<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
        <h1 class="font-bold text-center text-2xl mb-5">Linkazo</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="px-5 py-7">
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <%= f.label :email, class: "font-semibold text-sm text-gray-600 pb-1 block" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" %>
          
          <%= f.label :password, class: "font-semibold text-sm text-gray-600 pb-1 block" %>
          <% if @minimum_password_length %>
            <p class="text-xs text-gray-500 mb-2">(<%= @minimum_password_length %> characters minimum)</p>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" %>
          
          <%= f.label :password_confirmation, class: "font-semibold text-sm text-gray-600 pb-1 block" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" %>
          
          <div class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <%= f.submit "Sign up" %>
          </div>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <div class="p-5">
        <div class="">
          <%= link_to "Google", "path", class: "transition duration-200 border border-gray-200 text-gray-500 w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-normal text-center inline-block" %>
        </div>
      </div>
    </div>

</div>
